/* account.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #DFF8F5;
    padding: 10px;
}
.header {
    position: relative;
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Additional CSS styles as needed */

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.left-section {
    flex: 1;
    padding-right: 20px;
}

.right-section {
    flex: 1;
    padding-left: 20px;
}

.profile-details h2 {
    margin-top: 0;
    text-align: center;
    color: #000; /* Text color */
}

.profile-details p {
    margin-bottom: 10px;
    color: #000; /* Text color */
}

.edit-email {
    margin-left: 10px;
    color: #007bff; /* Edit email button color */
}

.edit-email:hover {
    text-decoration: underline;
}

.email-edit-box input[type="email"] {
    width: calc(100% - 100px);
    margin-right: 10px;
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-picture input[type="file"] {
    margin-bottom: 10px;
}


.button:hover {
    background-color: #0056b3;
}
