header, body{
background-color: #DFF8F5;
}
.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #DFF8F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.logo {
    width: 200px;
    height: 100px;
    background-image: url('Appointment.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.category-dropdown {
    margin-bottom: 20px;
}

.category-dropdown label {
    margin-right: 10px;
}

.hospital-list div {
    margin-bottom: 10px;
}
.edit-box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.edit-box input {
    margin-bottom: 5px;
}
/* Style for the appointment slots container */
.appointment-slots-container {
    margin-top: 20px;
}

/* Style for the checkbox container */
#availableSlots {
    margin-top: 10px;
}

/* Style for the checkboxes */
#availableSlots input[type="checkbox"] {
    margin-right: 10px; /* Adjust spacing between checkboxes */
}

/* Style for the labels */
#availableSlots label {
    margin-right: 20px; /* Adjust spacing between labels */
}
