/* home.css */
.navbar {
    background-color: #DFF8F5;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    height: 50px; /* Adjust as needed */
}

.navbar-toggler {
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
}

.navbar-nav {
    display: flex; /* Display list items horizontally */
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
}
.bgimg{
background-image: url("compassionatecare.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

.jumbotron {

background-image: url("compassionatecare.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 200px;
    border-radius: 0.5rem;
    text-align: center;
    color: white; /* Set text color to white for better visibility */
}

.jumbotron h1 {
    font-size: 2.5rem;
    color:black;
    margin-bottom: 1rem;
}

.jumbotron .lead {
    font-size: 1.25rem;

    margin-bottom: 1rem;
}
footer{

padding: 20px;
padding-left: 700px;
color:White;

background-color:#05445E;
}