.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #DFF8F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-dropdown {
    margin-bottom: 20px;
}

    .category-dropdown label {
        margin-right: 10px;
    }

.hospital-list div {
    margin-bottom: 10px;
}

