<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Appointments</title>
    <link rel="stylesheet" href="static/Appointment.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>

        <h1>Your Appointments</h1>
    </header>
  <button id="backButton">Back</button>
    <div class="container">
        <div id="userAppointmentsContainer">
            <!-- Appointments will be dynamically inserted here -->
        </div>

        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search appointments">
            <button id="searchButton">Search</button>
        </div>

        <table id="appointmentTable">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Time</th>
                    <th>Doctor Name</th>
                    <th>Category</th>
                    <th>Hospital Name</th>
                </tr>
            </thead>
            <tbody>
                <!-- Appointments will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/Appointment.js"></script>
</body>
</html>
