<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/dashboard.css">


    <nav class="navbar">
        <div class="container d-flex justify-content-between align-items-center"> <!-- Added flexbox classes -->
            <a class="navbar-brand" href="#">
                <img src="static/Appointment.png" alt="Logo">
            </a>
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="signup" class="nav-link">Sign Up</a></li>
                    <li class="nav-item"><a href="hospital_login" class="nav-link">Hospital Login</a></li>
                    <li class="nav-item"><a href="hospital_signup" class="nav-link">Hospital Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to the SwiftCare</h1>
                    <p class="lead">This is a emergency hospital appointment system.</p>
                    <p>Welcome to SwiftCare Connect, your premier destination for instant medical relief. With our innovative platform, finding last-minute appointments is now easier than ever. Say goodbye to long waits and frustrating delays. Whether you need urgent care or simply prefer a quicker route to medical services, SwiftCare is here to help. Don't let emergencies hold you back – seize the moment and access immediate healthcare solutions today. Experience the convenience of SwiftCare Connect and take control of your health journey like never before.
                        <br>Sign up to book doctor appointments at your convenience</p>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    &copy; Swiftcare.ca
</footer>
</html>
